<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Магазин музыкальных инструментов</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</head>

<body>

    <div class="container-fluid" style="background: skyblue; position: fixed; top: 0 ">
        <h1>Магазин музыкальных инструментов</h1>
    </div>

    <div class="body-content" style="background:lightblue"></div>
    <div class="jumbotron jumbotron-fluid bg-info text-white text-center" style="background: #aaa;">
        <div class="container">
            <p class="display-4">Каталог товаров </p>
        </div>
    </div>
    <footer>
        <p style="position: absolute; bottom: 0; width: 100%; background-color: lightblue;">
            &copy; 2018 |  Проект Ткаченко Дмитрия Александровича.
        </p>

    </footer>
    @RenderBody()

</body>
</html>
