<!DOCTYPE html>
<html ng-app="Web">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="CACHE-CONTROL" content="NO-STORE">
    <title>Магазин музыкальных инструментов</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Site.css")
    @Styles.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")


</head>

<body ng-controller="Web-controller">
    <div class="container-fluid header">
        <h1 align="center">Магазин музыкальных инструментов</h1>
    </div>

    <div class="body-content"></div>
    <div class="jumbotron jumbotron-fluid bg-info text-white text-center" style="background: #aaa;">
        <div class="container">
            <p class="display-4 catalog">Каталог товаров </p>
        </div>
    </div>

    @RenderBody()
    <footer>
        <div class="footer">
            &copy; 2018 |  Проект Ткаченко Дмитрия Александровича.
        </div>

    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
