<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="CACHE-CONTROL" content="NO-STORE">
    <title>Магазин музыкальных инструментов</title>
    @Scripts.Render("~/bundles/scripts", "~/Angular/main.js")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/Scripts/Slider.js")
    @*@Styles.Render("~/Content/css")
        @Styles.Render("~/Content/Site.css")
        @Styles.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/angular.min.js")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Scripts.Render("~/Scripts/angular.js"),
        @Scripts.Render("~/Scripts/angular-animate.js"),
        @Scripts.Render("~/Scripts/angular-loader.js"),
        @Scripts.Render("~/Scripts/angular-sanitize.js"),
        @Scripts.Render("~/Scripts/angular-cookies.js"),
        @Scripts.Render("~/Scripts/angular-messages.js"),
        @Scripts.Render("~/Scripts/angular-touch.js"),
        @Scripts.Render("~/Scripts/angular-resource.js"),
        @Scripts.Render( "~/Scripts/angular-ui/ui-bootstrap.js"),
        @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.js"),
        @Scripts.Render("~/Scripts/angular-ui-router.js"),
        @Scripts.Render("~/Scripts/angular-ui-ieshiv.js"),
        @Scripts.Render("~/Scripts/bootstrap.js"),
        @Scripts.Render("~/Scripts/ui-grid.js"),
        @Scripts.Render( "~/Scripts/bootbox.js"),
        @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap-tpls.js"),
        @Scripts.Render("~/Scripts/angular-ui/ui-bootstrap"),
        @Scripts.Render("~/Scripts/angular-ui.js"),*@



</head>

<body ng-app="Web">
    <div class="container-fluid header">
        <div style="float: left" class="logo"> <img src="~/Content/image/images.png" alt="logo" height="55" width="340" /></div>
        <div style="float: left" class="ui-grid-header"><h1 style="font-style: italic; color:white ">Магазин музыкальных инструментов</h1></div>

    </div>

<div class="body-content">
    <div class="jumbotron-fluid bg-info text-white text-center" style="background: #aaa;">
        <div class="container wrapper">
            <p class="display-4" style="padding-top: 50px">Каталог товаров </p>
        </div>
    </div>
</div>

<div id="carousel">
    <figure id="spinner">
        <img src="~/Content/image/1.jpg" alt="">
        <img src="~/Content/image/2.jpg" alt="">
        <img src="~/Content/image/3.jpg" alt="">
        <img src="~/Content/image/4.jpg" alt="">
        <img src="~/Content/image/5.jpg" alt="">
        <img src="~/Content/image/6.jpg" alt="">
        <img src="~/Content/image/7.jpg" alt="">
        <img src="~/Content/image/8.jpg" alt="">
    </figure>
</div>
<span style="float:left" class="ss-icon" onclick="galleryspin('-')">&lt;</span>
<span style="float:right" class="ss-icon" onclick="galleryspin('')">&gt;</span>

    @RenderBody()
    <footer>
        <div class="card-footer footer">
            &copy; 2018 |  Проект Ткаченко Дмитрия Александровича.
        </div>

    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
